# Ignore dependencies
**/node_modules/
**/vendor/

# Ignore the wp directory
htdocs/wp/

# Do not ignore wp-content directory but ignore its content
!htdocs/wp-content/
htdocs/wp-content/*

# Do not ignore themes directory but ignore its content
!htdocs/wp-content/themes
htdocs/wp-content/themes/*

# Do not ignore this theme
!htdocs/wp-content/themes/your-custom-theme

# Do not ignore plugins directory but ignore its content
!htdocs/wp-content/plugins
htdocs/wp-content/plugins/*

# Do not ignore these plugins
!htdocs/wp-content/plugins/your-custom-plugin1
!htdocs/wp-content/plugins/your-custom-plugin2

# Do not ignore mu-plugins directory but ignore its content
!htdocs/wp-content/mu-plugins
!htdocs/wp-content/mu-plugins/*

# Do not ignore these mu-plugins
!htdocs/wp-content/mu-plugins/your-custom-mu-plugin1.php
!htdocs/wp-content/mu-plugins/your-custom-mu-plugin2.php
